$white:#FFFFFF; 
$lightWhite:#F5F2F2; 
$pink:#A0627B; 
$opacityPink:rgba(160,98,123,0.4); 
$gray:#2E3940; 
$red:#CA6A6A; 
$green:#37A834; 
$lightGray:#383F43; 
$blue:#029AE4; 
$black:#131212; 
$opacityBlack: rgba(0, 0, 0, 0.3)